// Modules

// variables
@use 'vars'

// plugins
@use '../plugins/plugins-dir' as plugins

=track-neighbor($track-type, $neighbors...)
  /* TRACK NEIGHBOR
  .#{$track-type}-track
    +
      @each $neighbor in $neighbors
        .#{$neighbor}-track
          +plugins.margin(5rem null null)

=pad-bg($bg-color, $bg-active)
  background-color: $bg-color

  &.active
    background-color: $bg-active

=btn-styles
  background-color: vars.$gray-primary
  border: none
  color: vars.$btn-font-color
  cursor: pointer
  transition: vars.$trans-default

  @content
