// Colors

// base
$gray-primary: hsl(0, 0%, 35%)

// buttons
$btn-font-color: hsl(0, 0%, 100%)
$btn-active: hsl(0, 0%, 71%)

// pads
$kick-primary: hsl(192, 51%, 75%)
$snare-primary: hsl(315, 51%, 75%)
$hihat-primary: hsl(32, 51%, 75%)

// pads active
$kick-active: hsl(192, 78%, 57%)
$snare-active: hsl(315, 68%, 54%)
$hihat-active: hsl(32, 86%, 60%)

// Styles

$trans-default: all .5s ease

// Fonts

$font-family: 'Nunito', sans-serif

// Path

$fonts-dir: '../../gulp/fonts'
