.sequencer
  +track({ trackID: 0, type: "kick", n: 8 })
    block kick
      option(value="@files/sounds/kick-classic.wav") Classic Kick 
      option(value="@files/sounds/kick-808.wav") 808 Kick 
      option(value="@files/sounds/kick-heavy.wav") Kick Heavy

  +track({ trackID: 1, type: "snare", n: 8 })
    block snare
      option(value="@files/sounds/snare-acoustic01.wav") Snare Acoustic 
      option(value="@files/sounds/snare-808.wav") 808 Snare 
      option(value="@files/sounds/snare-vinyl02.wav") Snare Vinyl

  +track({ trackID: 2, type: "hihat", n: 8 })
    block hihat
      option(value="@files/sounds/hihat-acoustic01.wav") Hihat Acoustic 
      option(value="@files/sounds/hihat-808.wav") 808 Hihat 

  button.play Play
