.sequencer
  +track({ trackID: 0, type: "kick", n: 8 })
    block kick
      option(value="kick-classic") Classic Kick 
      option(value="kick-808") 808 Kick 
      option(value="kick-heavy") Kick Heavy

  +track({ trackID: 1, type: "snare", n: 8 })
    block snare
      option(value="snare-acoustic01") Snare Acoustic 
      option(value="snare-808") 808 Snare 
      option(value="snare-vinyl02") Snare Vinyl

  +track({ trackID: 2, type: "hihat", n: 8 })
    block hihat
      option(value="hihat-acoustic01") Hihat Acoustic 
      option(value="hihat-808") 808 Hihat 

  button.play Play

  include tempo
