extends ../layouts/page.pug

block content
  include ../modules/sequencer.pug

  button.play Play

  audio.kick-sound(src="@files/sounds/kick-classic.wav") 
  audio.snare-sound(src="@files/sounds/snare-acoustic01.wav") 
  audio.hihat-sound(src="@files/sounds/hihat-acoustic01.wav") 
